/* fonts */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-light-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-medium-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
/* global reset */
   html, body, body div, span, label, h1, h2, h3, h4, h5, h6, p, a, em, font, img, s, small, strike, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li,
   button, form, fieldset, article, aside, footer, header, nav, section, input, textarea {
     
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    list-style: none;
}
/* font adjusting hack */

html * {
	max-height: 1000000px;
}
/* common */
html {
    height: 100%;
}
body {
    font: normal 400 16px / 26px 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    height: 100%;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
h3 {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
   /* width: 1137px;
    height: 41px;*/
}
/* header */

header {
    background: linear-gradient(0deg, #EBF3FB 0%, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.container_one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 107px;
}
.head_one_left_p_1 {
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    margin: 27px 0;
    height: 151.85px;
    width: 504px; 
}
.head_one_left_p_2 {
    color: #1F3F68;
    opacity: 0.6;
    margin-bottom: 71px;
}
button {
    width: 220px;
    height: 57px;
    color: #fff;    
    background: #5a98d0;
    font: normal 400 16px / 26px 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 0.04em;
}
.logo {
    height: 100%;
    overflow: hidden;
    flex-direction: column;
}
header button {
    float: left;
    margin-right: 114px;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    margin-top: 70.59px;
    border-radius: 10px;
}
nav {
    display: block;
    height: 48px;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}
.navi {
    width: 46px;
    background-image: url('../img/navi.png');
}
.vec {
    width: 34px;
    background-image: url('../img/vec.png'); 
}
.illu { 
    background-image: url('../img/illu.png'); 
    margin-left: 553px;
    margin-top: -403px;
    margin-right: 140px;
} 
/* Main */

.group_main {
    width: 914px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}
.group {
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}
.first {
    margin: 44px 117px 51px 70px;
    height: 120px;
    width: 171px;
}
.second {
    margin: 44px 110px 44px 116px;
    height: 131px;
    width: 125px;
}
.third {
    margin: 49px 117px 49px 94px;
    height: 118px;
    width: 147px;
}
.group_tek {
    font-size: 20px;
    line-height: 30px;
    color: #1f3f68;
    margin: 0 0 0 32px;
}
.group_mel {
    color: #1f3f68;
    opacity: 0.6;
    margin: 14px 0 30px 32px;
}
.container_too {
    width: 1366px;
    height: 524px;
    margin: 44px 113px 64px 113px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.arrey { 
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    color: #5a98d0;
    display: block;
    margin: 0 0 44px 32px;
}
.arrey::before {
    content: url('../img/arrey.png');
    float: right;
    margin-right: 207px;
}

/* footer */
footer {
    flex: none;
    background: #316099;
    color: #fff;
    width: 100%;
}
footer section + section {
    border-top: 2px solid rgba(255,255,255,0.4);    
}
footer .container {
    padding: 64px 0;
}
footer h3 {
    margin: 27px 0;
    font-weight: 400;
    text-align: left;
    font-size: 36px;
    line-height: 46px;
    width: 340px;
    height: 90px;
}
footer p {
    margin: 32px 0;
    opacity: 0.6;
    width: 480px;
}
footer ol {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
footer li {
    flex: 0 0 316px;
    padding-left: 42px;
    position: relative;
}
footer li::before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: 'T.';
}
footer li:first-child::before {
    content: 'A.';
}
footer li:last-child::before {
    content: 'E.';
}
footer button {
    float: right;
    margin-right: -134.88px;
    margin-top: -134.88px;  
}
.copy {
    margin: 64px 0 0;
    opacity: 0.4;
}

    